<div>
    <label class="block text-blue-300 py-2 font-bold mb-2">
        File available below
    </label>
    <a id="download_link" href="{{.DownloadLink}}" download class="block text-blue-300 py-2 font-bold mb-2 underline underline-offset-1">Download File</a>

    <div class="flex items-center justify-between pt-4">
        <button
            class="bg-gradient-to-r from-purple-800 to-green-500 hover:from-pink-500 hover:to-green-500 text-white font-bold py-2 px-4 rounded focus:ring transform transition hover:scale-105 duration-300 ease-in-out"
            onclick="window.location='/index.html';"
        >
            Another?
        </button>
    </div>
</div>